* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  z-index: 1000;
}
header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul li {
  list-style: none;
  margin-left: 20px;
}
header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}
header ul li a.active,
header ul li a:hover {
  background: #fff;
  color: #2b1055;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    10deg,
    #ffda50 0,
    #ffcc51 10%,
    #ffbd52 20%,
    #ffac53 30%,
    #ff9b53 40%,
    #f28953 50%,
    #e17852 60%,
    #d26a51 70%,
    #c45e51 80%,
    #b75452 90%,
    #ac4c53 100%
  );
}
section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #f38137, transparent);
  z-index: 1000;
}
section img {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  object-fit: contain;
  z-index: 10;
}

#mountain_left1,
#mountain_rigth1 {
  width: 65%;
  height: 90vh;
}
#sun {
  height: 35vh;
  left: 41vw;
  mix-blend-mode: screen;
}
#mountain_left1 {
  left: 4em;
  top: 17em;
}
#mountain_rigth1 {
  left: 33em;
  top: 17em;
}
#mountain_left2 {
  width: 65%;
  height: 80vh;
  left: -12em;
  top: 16em;
}
#mountain_rigth2 {
  width: 65%;
  height: 80vh;
  left: 45em;
  top: 16em;
}
#mountain_left3 {
  width: 70%;
  height: 100%;
  left: -20em;
  top: 7em;
}
#mountain_rigth3 {
  top: 7em;
  left: 47em;
  width: 70%;
  height: 100%;
}

#text {
  position: absolute;
  color: #fff;
  font-size: 7.5vw;
  top: 1.2em;
  right: -400px;
  white-space: nowrap;
  z-index: 9;
}

#btn {
  transform: translateY(100px);
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #f38137;
  font-size: 1.5em;
  z-index: 9;
}
#sec {
  position: relative;
  background: #f38137;
  padding: 100px;
}
#sec h2 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #fff;
}

#sec p {
  font-size: 1em;
  color: #fff;
}
